*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html{
    font-size: 62.5%;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
    background-blend-mode: multiply,multiply;
}

.card{
    position: relative;
    height: 25rem;
    width: 40rem;
    margin: 2rem;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
    background-blend-mode: multiply,multiply;
    -webkit-box-reflect: below 0px -webkit-gradient(linear, right top, right bottom, from(transparent), to(rgba(255, 255, 255, 0.1)));
}

.card img{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 35rem;
    transition: .5s;
}

.card:hover img{
    left: 78%;
    height: 40rem;
}

.card .content{
    position: relative;
    width: 50%;
    left: 20%;
    padding-left: 4rem;
    transition: .5s;
    opacity: 0;
    visibility: hidden;
    color: #000;
}

.card .content h2{
    padding-bottom: .4rem;
    font-size: 2rem;
    text-transform: uppercase;
}

.card .content p{
    font-size: 1.2rem;
}

.card .content a{
    margin-top: 1rem;
    display: inline-block;
    padding: 1rem 2rem;
    color: #333;
    text-decoration: none;
    background: #fff;
    box-shadow: inset 5px 5px 5px rgba(0,0,0,.3);
    font-size: 1.2rem;
    font-weight: 800;
    border-radius: 1rem;
}

.card:hover .content{
    left: 0;
    visibility: visible;
    opacity: 1;
}

@media (max-width: 430px){
    .card{
        position: relative;
        width: auto;
        max-width: 60rem;
        transition: .5s;
        align-items: flex-start;
    }
    .card:hover{
        height: 60rem;
    }
    .card .content{
        width: 100%;
        left: 0;
        padding: 4rem;
    }
    .card:hover img{
        left: 50%;
        height: 40rem;
    }
}